# core
jupyter
nbconvert
ipykernel

# data sets
pydataset
nycflights13

# data manipulation
numpy
pandas
itables

# data import
openpyxl
xlrd

# data visualization
matplotlib
seaborn
plotnine
scipy
statsmodels